.topic {
  color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Allura", cursive;
  font-weight: 8;
  font-size: 40px;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  padding-left: 390px;
  width: 50%;
  text-align: center;

  /* Animation properties */
  opacity: 0;
  transform: scale(0);
  animation: popUp 1.5s ease-out forwards;
}

/* Keyframes for the pop-up animation */
@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
